:root {

    --dark: #252525;

    --purple-light-1: #FBFAFB;
    --purple-light-2: #EEEAF2;
    --purple-medium-1: #AA83C8;
    --purple-medium-2: #8B48BF;
    --purple-medium-3: #5C218A;
    --purple-dark-1: #3E0F64;
    --purple-dark-2: #2A0646;

    --yellow: #EECC75;
    --green: #CAD297;
    --aqua: #B7EAC5;
    --lightBlue: #A2EEE5;
    --darkBlue: #8EA2EA;
    --red: #F09D9D;

    --font-family-titles: 'Days One', sans-serif;
    --font-family-text: 'Dosis', sans-serif;
    --font-weight-title1: 800;
    --font-weight-title2: 700;
    --font-weight-text1: 400;
    --font-weight-text2: 500;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*::after,
**::before {
    box-sizing: inherit;
}

body {
    /* background-color: rgba(0, 0, 0, 0.418); */
    color: var(--purple-dark-2);
    font-family: var(--font-family-text);
    font-weight: var(--font-weight-text1);
    margin: 0;
    padding: 0;

}

h1,
h2,
h3 {
    margin-top: 0;
    padding: 0;
}

h1,
h2 {
    font-size: 2.4rem;
    color: var(--purple-dark-2);
    font-family: var(--font-family-titles);
    font-weight: var(--font-weight-title1);
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 1.8rem;
    color: var(--purple-dark-1);
    font-weight: var(--font-weight-title2);
}

h3 {
    color: var(--purple-dark-2);
    font-weight: var(--font-weight-text2);
    font-size: 16px;
}

input {
    background-color: var(--purple-light-2);
    color: var(--purple-medium-2);
    border: none;
    font-size: 1.6rem;
    padding-left: 1rem;
}

input:focus {
    outline: .1px solid var(--purple-dark-1);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

input::placeholder {
    color: var(--purple-medium-1);
    font-family: var(--font-family-text);
}

button {
    background-color: var(--purple-dark-1);
    border: none;
    color: var(--purple-light-2);
    font-weight: var(--font-weight-text2);
    font-size: 14px;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.container {
    max-width: 50rem;
    margin: 0 auto;
    background-color: #fff;
}

/* Shared */
.header-container,
.trendingPreview-header,
.categoriesPreview-container {
    padding: 0 24px;
}

.trendingPreview-container,
.categoriesPreview-container {
    margin-top: 48px;
}

.trendingPreview-header,
.categoriesPreview-title {
    margin-bottom: 24px;
}

.movie-container {
    cursor: pointer;
}

.movie-img {
    border-radius: .4rem;
    overflow: hidden;
}

.categoriesPreview-list,
.categories-list {

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
}

.position {
    top: 18rem;
    background-color: white;
    border-radius: 50%;
}


/* Header */
.header-container {
    padding-top: 40px;
}

.header-container--long {
    background-image: url('https://pics.filmaffinity.com/Deadpool-777527803-large.jpg');
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.35) 19.27%, rgba(0, 0, 0, 0) 29.17%), url();
    height: 480px;
    width: 100%;
    max-width: 500px;
    padding: 0;
    margin: 0;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top center;
}

.header-container--categoryView {
    background: linear-gradient(180deg, rgba(238, 204, 117, 0.5) 0%, rgba(238, 204, 117, 0) 72.92%);
}

.header-title {
    text-align: center;
    margin-bottom: 2rem;
}

.header-title a {
    color: var(--purple-dark-2);
}


.header-arrow {
    /* position: fixed;
    z-index: 999;*/
    cursor: pointer;
    /*display: flex;
    background-color: #fff;
    border-radius: 50%;*/
    margin-left: 1rem;
}

.header-home {
    /* position: fixed; */
    /* right: 10rem;
    top: 3rem; */
    /* position: sticky; */
    /* margin-left: 3rem; */
    cursor: pointer;
}

.icons {
    display: flex;
    flex-direction: row;
    position: fixed;
    gap: 170%;
    z-index: 999;
}

.header-arrow--white {
    color: var(--purple-light-1);
}

.header-searchForm {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: nowrap;
}

.header-searchForm input {
    height: 4.6rem;
    width: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.header-searchForm button {
    width: 56px;
    height: 48px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}


/* Trending */
.trendingPreview-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.trendingPreview-btn {
    border-radius: 8px;
    height: 32px;
    width: 72px;
}

.trendingPreview-movieList {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    height: 22.5rem;
    padding: 2rem 1rem;
    background-color: #7a787821;
    position: relative;
}

.trendingPreview-movieList span {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-size: 1.6rem;
    background-color: #252525dc;
    margin: 0px 0;
    text-align: center;
    width: 6rem;

}

.trendingPreview-movieList .movie-container {
    display: inline-block;
    margin-right: 8px;
}

.trendingPreview-movieList .movie-container .movie-img {
    height: 22.5rem;
    min-height: 22.5rem;
    max-height: 22.5rem;
    width: 15rem;
    min-width: 15rem;
    max-width: 15rem;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}



/* Categories */
.category-container {
    width: 45%;
}

.category-title {
    margin-bottom: 8px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.category-title::before {
    content: '••••';
    color: transparent;
    /* TODO: cambiar color por ID de la categoría */
    background-color: var(--idColor);
    border-radius: 8px;
    margin-right: 8px;
    width: 8px;
    height: 8px;
}

#id28 {
    --idColor: var(--yellow);
}

#id12 {
    --idColor: var(--red);
}

#id16 {
    --idColor: var(--green);
}

#id35 {
    --idColor: var(--lightBlue);
}

#id80 {
    --idColor: var(--darkBlue);
}

#id99 {
    --idColor: var(--purple-dark-1);
}

#id18 {
    --idColor: var(--purple-medium-1);
}

#id10751 {
    --idColor: var(--yellow);
}

#id14 {
    --idColor: var(--red);
}

#id36 {
    --idColor: var(--green);
}

#id27 {
    --idColor: var(--lightBlue);
}

#id10402 {
    --idColor: var(--darkBlue);
}

#id9648 {
    --idColor: var(--purple-dark-1);
}

#id10749 {
    --idColor: var(--purple-medium-1);
}

#id878 {
    --idColor: var(--yellow);
}

#id10770 {
    --idColor: var(--red);
}

#id53 {
    --idColor: var(--green);
}

#id10752 {
    --idColor: var(--lightBlue);
}

#id37 {
    --idColor: var(--darkBlue);
}


/* Generic List (search, trending & category) */
.genericList-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 32px 24px;
    gap: 1rem;
    background-color: #25252521;
    position: relative;
    margin-top: 2rem;
}

.genericList-container .movie-container {
    display: inline-block;
    width: 47.5%;
}

.genericList-container span {
    position: absolute;

}

.genericList-container .movie-img {
    width: 100%;
}


/* Movie Detail */

.movieDetail-title {
    text-align: center;
    margin: 1rem 0;
}

.movieDetail-score {
    display: inline-block;
    font-weight: var(--font-weight-title2);
    font-size: 2rem;
    margin-left: 40%;
    margin-bottom: 1rem;
}

.movieDetail-score::before {
    content: '★';
    color: var(--yellow);
    padding-right: 4px;
}

.movieDetail-description {
    margin: 0 0 24px 0;
    font-size: 1.3rem;
    text-align: justify;
}

.relatedMovies-container {
    margin: 3rem 0;
    height: 25rem;
}

.relatedMovies-title {
    margin-bottom: 16px;
    text-align: center;
}

.relatedMovies-scrollContainer {
    position: absolute;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    /* width: calc(90vw - 24px); */
    position: relative;
    height: 22rem;
    display: flex;
    align-items: center;
    /* padding: 2rem 0; */
}

.relatedMovies-scrollContainer span {
    color: white;
    background-color: #252525dc;
    position: absolute;
    font-size: 1.4rem;

}

.relatedMovies-scrollContainer .movie-container {
    display: inline-block;
    margin-right: 1rem;
}

.relatedMovies-scrollContainer .movie-img {
    width: 125px;
    min-width: 125px;
    max-width: 125px;
    height: 187.5px;
    min-height: 187.5px;
    max-height: 187.5px;
}

.container-movide-detail {
    margin: 0 auto;
    width: 100%;
    height: 50rem;
    /* background-color: #2525252c; */
}

.movieDetailBackground {
    background-color: #fff;
    width: 90%;
    /* height: 50rem; */
    margin: 0 auto;
    margin-top: -20rem;
    margin-bottom: 4rem;
    padding: 0rem 2rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
}

/* Footer */
footer {
    background-color: var(--purple-medium-3);
    margin: 2rem;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer h3 a {
    color: white;
    font-size: 2rem;
}

.castMovies-scrollContainer {
    position: absolute;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    position: relative;
    height: 22rem;
    display: flex;
    align-items: center;
    padding: 2rem 0;
    padding-left: 1rem;
    gap: 1rem;
}

.castMovies-scrollContainer .movie-img {
    width: 125px;
    height: 187.5px;
    max-width: 150px;
}

.castMovies-scrollContainer span {
    position: absolute;
    color: black;
    font-size: 1.3rem;
    top: 9px;
    font-weight: bold;
}

/* Navigation */
.inactive {
    display: none;
}

.cast {
    cursor: default;
}